:root {
  --primary-color: #00FFCC;
  --secondary-main: #b2dfdb;
  --background-light: #1c2e44;
}

.bg-dots {
  background-image: radial-gradient(circle, var(--background-light) 1px, transparent 1px);
  background-size: 40px 40px;
}